@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  line-height: 2.5em;
  font-weight: 400;
  overflow-x:hidden;
  /* background-color: ; */

}

/* * {
    font-family: Roboto, sans-serif;
    font-size: 10px;
    line-height: 2.5em;
    font-weight: 400;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: roboto+condensed;
    margin: 0;
    padding: 5px;
}

h1 {
    font-size: 4em;
    color: black;
    text-align: left;
    font-weight: 400;
    text-shadow: 2px 2px 4px grey;
    padding-top: 50px;
}

h2 {
    font-size: 3.5em;
    text-align: left;
    font-weight: 400;
}

h3 {
    font-size: 3.5em;
    text-align: left;
    font-weight: 350;
}

h4 {
    font-size: 3em;
    text-align: center;
    font-weight: 700;
    padding-top: 30px;
}

h5 {
    font-size: 2em;
    text-align: center;

}

h6 {
    font-size: 1.5em;
    text-align: center;

}

p {
    text-align: justify;
    font-size: 1.5em;
}

.nav-bar {
    /* padding: 14px 0 50px 0; */
    width: 100%;
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar img {
    width: 50vw;
    max-width: 250px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    flex:1;
}

.nav-bar ul {
    flex:3;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-start;
}

.nav-bar li {
    list-style: none;
    padding: 10px;
}

.bold-text {
    font-weight: bold;
}

header {
    width: 100vw;
    /* height: 650px; */
}

.header {
    background-image: url(./images/Geoffrey-Riley.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

#box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 300px;
    /* padding-top: 20px; */
}

#box h1, #box h2,#box h3{
    font-size: 5vw;
}

#aboutSection {  
   font-size: 10px;
   padding: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center img {
    width: 330px;
}

.centerTable {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerTable h5 {
    color: #71ACB4;
}

.centerTable img {
    height: 300px;
}

.centerTable p {
    text-align: justify;
}

#caseStudySection {
    /* margin: 0 100px; */
}

#caseStudySection h4 {
    margin-bottom: 15px;
}

.centerText p {
    text-align: center;
}

.caseStudy h6 {
    text-align: left;
    font-size: 1.8em;
}

.caseStudy p {
    text-align: justify;
}

/* .footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

#contactSection {}

#contactSection img {
    max-width: 50px;
}

#contactSection ul {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
}

#contactSection li {
    list-style: none;
    padding: 10px;
}

#contactSection p {
    text-align: center;
    font-size: 1em;
    display: flex;
    justify-content: center;
}

/*Desktop*/

@media (min-width: 400px){
    #box h1, #box h2,#box h3{
        font-size: 20px;
    } 
    .center img {
        width: 400px;
    }

    .centerTable h5 {
        padding-right: 40px;
        padding-left: 20px;
    }
}

@media (min-width: 800px){
    #box h1, #box h2,#box h3{
        font-size: 30px;
        padding-left: 75px;
    } 
    #box {
        padding-top: 20px;
    }
    .center img {
        width: 800px;
    }

    .centerTable h5 {
        padding-right: 100px;
        padding-left: 100px;
    }
}